// ======================================================
// Pages :: Cart
// ======================================================

.product-cart {
  &__table {
    border: 1px solid rgba($gray-light, .3);

    tr {
      border: 1px solid rgba($gray-light, .3);

      td {
        border: 1px solid rgba($gray-light, .3);
      }
    }
  }

  &__checkout {
    text-align: right;
    margin-bottom: 200px;
  }
}

.cart-table {
  margin-bottom: 45px;

  &__head {
    tr {
      text-align: center;
      background: $green;
      color: $white;
      text-transform: uppercase;
      height: 50px;
      font-size: $font-size-sm;
    }
  }

  &__body {
    tr {
      td {
        text-align: center;
      }
    }
  }
}

.cart-table:first-child {
  width: 180px;
  padding: 15px;
}

.cart-body {
  &__img-wrapper {
    width: 150px;
    height: 150px;
  }

  &__name {
    color: $green;
    text-transform: uppercase;
    font-size: $font-size-xl;
  }

  &__price {
    font-size: $font-size-xl;
    color: $gray;
  }

  &__total-price {
    font-size: $font-size-xl;
    color: $gray;
  }

  &__count {
    font-size: $font-size-xl;
    color: $gray;
    border: 1px solid rgba($gray, .3);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  &__delete {
    font-size: $icon-size-lg;
    color: $gray;
  }
}

.cart-actions {
  text-align: right;
  margin-bottom: 70px;

  &__continue {
    margin-left: 20px;
  }
}

.table-vat {
  margin-left: auto;
  border: 1px solid rgba($gray-light, .3);
  margin-bottom: 40px;

  tr {
    border: 1px solid rgba($gray-light, .3);

    td {
      border: 1px solid rgba($gray-light, .3);
      font-size: $font-size-sm;
      color: $green;
      font-weight: $bold;
      padding: 30px 82.5px;
    }
  }

  &__total {
    font-size: $font-size-xl;
    background: $green;
  }
}

.table-vat .table-vat__total td {
  color: $white;
  font-size: $font-size-xl;
}
