// ======================================================
// Pages :: Home
// ======================================================

.slider {
  width: 100%;
  height: 580px;

  &__image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @include respond-to(tablet-and-down) {
    height: 350px;
  }

  @include respond-to(smallphone-and-down) {
    height: 220px;
  }
}

.product {
  @extend %wrapper;

  flex-flow: column nowrap;

  &__spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 50px;
  }

  &__hot {
    margin-bottom: 50px;
  }

  &__grid {
    &--spotlight {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }

    &--best {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 50px;
    }

    &--discount {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      margin-bottom: 50px;
    }

    &--hot {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
    }
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid rgba($border, .9);
  }

  &__item--big {
    grid-column: 1 / -1;
    border: 1px solid rgba($border, .9);
  }

  &__image-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  &__overlay {
    @include pseudo;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    transform-origin: center;
    opacity: 0;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__new {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: $green;
  }

  &__sale {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: $red;
  }

  &__name {
    font-size: $font-size-lg;
    color: $black;
    transition: all .3s ease;
    &:hover {
      color: $green;
      text-decoration: none;
    }
  }

  &__star {
    margin: 5px 0;
    color: $yellow;
  }

  &__price {
    color: $red;
    font-size: $font-size-xl;
    font-family: 'Roboto Slab', sans-serif;
    margin-bottom: 20px;
  }

  &__del {
    color: $gray;
    margin-left: 15px;
    font-size: $font-size-sm;
    text-decoration: line-through;
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__buy {
    font-size: $font-size-sm;
    color: $white;
    height: 40px;
    border-radius: 20px;
    background: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    padding: 0 20px;
    &:hover {
      background: transparent;
      border: 1px solid $green;
      color: $green;
    }
  }

  &__search {
    font-size: $font-size-base;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include respond-to(tablet-and-down) {
    &__spotlight {
      grid-gap: 20px;
    }

    &__best {
      padding-right: 10px;
    }

    &__discount {
      padding-left: 10px;
    }

    &__grid {
      &--spotlight {
        grid-gap: 20px;
      }

      &--discount {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }

      &--hot {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }
    }
  }

  @include respond-to(phone-and-down) {
    &__spotlight {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }

    &__best {
      padding-right: 15px;
    }

    &__discount {
      padding-left: 15px;
    }

    &__grid {
      &--spotlight {
        grid-gap: 10px;
      }

      &--discount {
        grid-gap: 10px;
      }

      &--hot {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
      }
    }

    &__price {
      font-size: $font-size-sm;
    }

    &__del {
      display: block;
      margin: auto;
    }
  }
}

.product__item .product__image-wrapper {
  height: 220px;

  @include respond-to(phone-and-down) {
    height: 200px;
  }

  @include respond-to(smallphone-and-down) {
    height: 150px;
  }
}

.product__item--big .product__image-wrapper {
  height: 480px;

  @include respond-to(phone-and-down) {
    height: 400px;
  }

  @include respond-to(smallphone-and-down) {
    height: 300px;
  }
}


.product__hotnew .product__grid {
  grid-template-columns: repeat(4, 1fr);

  @include respond-to(tablet-and-down) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  @include respond-to(phone-and-down) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

.product__item--small {
  padding: 15px;
  flex-flow: row nowrap;
  min-width: 100px;

  .product__image-wrapper {
    width: 70px;
    height: 70px;
    margin-bottom: 0;
  }

  .product__name {
    font-size: $font-size-sm;
    text-align: left;
  }

  .product__price {
    font-size: $font-size-sm;
    margin-bottom: 0;
  }

  .product__del {
    display: none;
  }

  .product__overlay {
    display: none;
  }

  .product__info {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-items: flex-start;
    padding-left: 15px;
  }

  @include respond-to(tablet-and-down) {
    padding: 2px;
    margin-bottom: 2px;

    .product__name {
      font-size: $font-size-base;
    }

    .product__price {
      font-size: $font-size-base;
    }

    .product__star {
      margin: 0;
    }
  }
}

.new {
  @extend %wrapper;

  flex-flow: column nowrap;
  margin-bottom: 50px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
  }

  &__image-wrapper {
    height: 200px;
    margin-bottom: 15px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__date {
    font-style: italic;
    font-size: $font-size-base;
    font-family: 'Roboto Slab', sans-serif;
    color: $gray;
    margin-bottom: 20px;
  }

  &__title {
    color: $green;
    font-weight: $semibold;
    font-size: $font-size-sm;
    margin-bottom: 10px;

    &:hover {
      color: $green;
    }
  }

  &__des {
    font-size: $font-size-sm;
    color: $gray;
    margin-bottom: 15px;
  }

  &__readmore {
    color: $green;
    font-style: italic;
    font-size: $font-size-base;

    &:hover {
      color: $green;
    }
  }

  @include respond-to(tablet-and-down) {
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @include respond-to(phone-and-down) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}

.banner {
  margin-bottom: 50px;

  &__image {
    width: 100%;
  }
}
