// ======================================================
// Pages :: Login
// ======================================================
.login {
  @extend %wrapper;

  &__wrapper {
    margin-bottom: 110px;
  }

  .title {
    margin-bottom: 50px;
  }

  .login-letter__title {
    margin-bottom: 20px;
  }
}

.login-form {
  &__label {
    font-size: $font-size-base;
    color: $gray;
    margin-bottom: 10px;
  }

  &__input {
    border-radius: 0;
    border: 1px solid rgba($gray, .3);
  }

  &__group {
    margin-bottom: 30px;
  }

  &__link {
    margin-left: 25px;
    font-style: italic;
    font-size: $font-size-base;
    font-family: $font-family-second;
    text-decoration: underline;
    color: $gray;

    &:hover {
      color: $green;
    }
  }

  &__checkbox-label {
    font-size: $font-size-base;
    font-family: $font-family-second;
  }

  &__checkbox {
    position: relative;
    cursor: pointer;
    margin: 10px 10px 0 0;

    &:after {
      @include pseudo;

      width: 14px;
      height: 14px;
      border: 1px solid $black;
      background: $body-color;
    }

    &:before {
      @include pseudo;

      opacity: 0;
      transition: all .15s ease;
      top: -8px;
      left: 3px;
      width: 10px;
      height: 18px;
      border-top: 2px solid transparent;
      border-bottom: 2px solid $black;
      border-right: 2px solid $black;
      z-index: 100;
      filter: drop-shadow(2px 2px 0 $white) drop-shadow(-2px -2px 0 $white);
      transform: rotate(45deg);
    }

    &.active:before {
      opacity: 1;
    }

    &:focus {
      outline: 0;
      border: 0;
    }
  }

  @include respond-to(tablet-and-down) {
    margin-bottom: 50px;
  }
}


.login-letter {
  &__text {
    color: $gray;
    font-family: $font-family-second;
    font-size: $font-size-base;
    margin-bottom: 36px;
  }
}
