// ======================================================
// Page :: New
// ======================================================

.product-new {
  &__pagination {
    display: flex;
    margin-bottom: 80px;
  }

  &__sidebar-left {
    .title {
      margin-bottom: 20px;
    }
  }
}
