// ======================================================
// Pages :: Product
// ======================================================

.main {
  &--gray {
    background: $body-color;
  }
}

.product-list {
  @extend %wrapper;

  &__content {
    margin-bottom: 190px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;

    .product__overlay {
      transition: none;
    }

    .product__info {
      background: $white;
    }
  }

  &__sidebar {
    margin-bottom: 30px;
  }

  &__sort {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }

  &__pagination {
    display: flex;
  }

  @include respond-to(tablet-and-down) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }

  @include respond-to(phone-and-down) {
    &__grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }

  @include respond-to(smallphone-and-down) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}

.product-sort {
  padding: 30px 0;
  &__btn {
    padding: 0;
    margin-right: 10px;

    &.active {
      .product-sort__icon {
        color: $green;
      }
    }
  }

  &__grid {
    display: flex;
    align-items: center;
  }

  @include respond-to(phone-and-down) {
    flex-flow: column nowrap;

    &__grid {
      margin-bottom: 10px;
    }
  }
}

.sort-option {
  margin-left: auto;
  &__label {
    margin: 0 10px;

    &#product-count {
      margin-left: 40px;
    }
  }

  &__select {
    outline: none;
    padding: 10px 15px;
    border: 1px solid rgba($gray-light, .6);
    border-radius: 0;
    color: $gray;
  }

  @include respond-to(phone-and-down) {
    width: 100%;

    .sort-option__label {
      width: 100%;
      margin-bottom: 10px;
      margin-left: 0;
      justify-content: flex-start;
    }

    &__select {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.pagination {
  margin-left: auto;

  .page-item {
    width: 45px;
    height: 45px;
    margin: 0 4.5px;

    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: $gray;
      font-size: $font-size-base;
      font-family: Roboto;

      &.active {
        background: $green;
        color: $white;
      }
    }

    &:first-child {
      width: auto;
    }

    &:last-child {
      width: auto;
      margin-right: 0;
    }
  }

  @include respond-to(phone-and-down) {
    .page-link {
      margin: 0;
      padding: 5px 10px;
    }
  }
}

.page-item:last-child .page-link {
  border-radius: 0;
}

.page-item:first-child .page-link {
  border-radius: 0;
}

.pagination .page-item:first-child .page-link {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.pagination .page-item:last-child .page-link {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.product-list__list {
  grid-template-columns: 1fr;

  .product {
    flex-flow: row nowrap;
    position: relative;
    align-items: stretch;
  }

  .product__image-wrapper {
    width: 230px;
    height: auto;
    position: static;
    margin-bottom: 0;
  }

  .product__old-price {
    display: none;
  }

  .product__info {
    text-align: left;
    padding: 15px 40px 70px 40px;
    flex: 1;
  }

  .product__name {
    font-weight: $semibold;
    padding: 0;
  }

  .product__star {
    font-size: 10px;
  }

  .product__overlay {
    position: absolute;
    opacity: 1;
    background: transparent;
    height: 40px;
    width: inherit;
    bottom: 15px;
    margin-left: 268px;
    transition: color .3s ease;
  }

  .product__search {
    border: 1px solid rgba($black, .1);

    &:hover {
      border: 1px solid rgba($green, .8);
      .product__icon {
        color: $green;
      }
    }
  }

  .product__description {
    display: block;
    color: $gray;
    margin-bottom: 20px;
  }

  .product__like {
    @extend .product__search;
  }

  @include respond-to(smallphone-and-down) {
    grid-template-columns: 1fr;

    .product {
      flex-flow: column nowrap;
    }

    .product__image-wrapper {
      width: 100%;
      height: 320px;
      position: relative;
      margin-bottom: 0;
    }

    .product__overlay {
      opacity: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      bottom: 0;
      transition: all .3s ease;
      &:hover {
        opacity: 1;
      }
    }

    .product__old-price {
      display: none;
    }

    .product__info {
      text-align: left;
      padding: 15px;
      flex: 1;
    }

    .product__search {
      border: 1px solid rgba($black, .3);

      &:hover {
        background: rgba($black, .1);
      }
    }

    .product__description {
      display: block;
      color: $gray;
      margin-bottom: 20px;
    }

    .product__like {
      display: flex;
      border: 1px solid rgba($black, .3);

      &:hover {
        background: rgba($black, .1);
      }
    }
  }
}

.product-list__list .product__image-wrapper:hover {
  .product__image {
    transform: scale(1);
  }
}

.product-list__list .product__image-wrapper .product__image:hover {
  transform: scale(1.2);
}

.banner {
  &__image-wrapper {
    width: 100%;
  }

  &__image {
    width: 100%;
  }
}
