include ../modules/page-list/_page-list
include ../modules/_head
include ../modules/_plugin
include ../modules/_buttons
include ../modules/_icons
include ../modules/_titles
include ../modules/_products
include ../modules/_news
include ../modules/_breadcrumbs
include ../modules/_lists

doctype html
html(lang='en')
  head
    block head
  body
    block body
  +plugins()
