include ../modules/page-list/_page-list
include ../modules/_head
include ../modules/_plugin
include ../modules/_buttons

doctype html
html(lang='en')
  head
    block head
  body
    block body

    script(src="js/main.js")
