footer.footer
  .footer-top
    .footer-top__content.row.no-gutters
      .footer-top__social.f-social.col-12.col-md-4
        p.f-social__text Kênh thông tin từ chúng tôi :
        ul.f-social__list
          li.f-social__item
            +buttons-link({
              href: '#',
              btnClass: 'f-social__btn',
              iconClass: 'f-social__icon',
              iconFont: 'fab fa-facebook-f',
              iconSize: 'md',
              iconColor: 'gray'})
          li.f-social__item
            +buttons-link({
              href: '#',
              btnClass: 'f-social__btn',
              iconClass: 'f-social__icon',
              iconFont: 'fab fa-twitter',
              iconSize: 'md',
              iconColor: 'gray'})
          li.f-social__item
            +buttons-link({
              href: '#',
              btnClass: 'f-social__btn',
              iconClass: 'f-social__icon',
              iconFont: 'fab fa-tumblr',
              iconSize: 'md',
              iconColor: 'gray'})
          li.f-social__item
            +buttons-link({
              href: '#',
              btnClass: 'f-social__btn',
              iconClass: 'f-social__icon',
              iconFont: 'fab fa-vimeo-v',
              iconSize: 'md',
              iconColor: 'gray'})
      .footer-top__email.f-email.col-12.col-md-8
        p.f-email__text Đăng ký nhận email từ chúng tôi
        form.f-email__form.ml-auto
          input.f-email__input
          +buttons({
            btnClass: 'f-email__btn',
            iconImage: 'sent-mail.png',
            imageClass: 'f-email__image'})
  .footer-middle
    .footer-middle__content.row.no-gutters
      .footer-middle__info.f-info.col-12.col-lg-4
        a.f-info__image-wrapper(href="#")
          img.f-info__image(src="../images/logo-footer.png", alt="")
        p.f-info__text Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển 
        ul.f-info__contact
          li.f-info__item
            +icons({
              iconClass: 'f-info__icon',
              iconFont: 'fas fa-mobile-alt',
              iconSize: 'sm',
              iconColor: 'green'})
            p Điện thoại : (84-4) 66.558.868
          li.f-info__item
            +icons({
              iconClass: 'f-info__icon',
              iconFont: 'fas fa-envelope',
              iconSize: 'sm',
              iconColor: 'green'})
            p Email : info@dkt.com.vn
      .footer-middle__customer.f-customer.col-12.col-lg-8
        ul.f-customer__block
          p.f-customer__title Thông tin khách hàng
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Tài khoản của tôi',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Sản phẩm yêu thích',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Lịch sử mua hàng',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Chính sách đổi trả',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Góp ý ,khiếu nại',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
        ul.f-customer__block
          p.f-customer__title Hỗ trợ dịch vụ
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Hệ thống cửa hàng',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Hướng dẫn mua hàng',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Hướng dẫn thanh toán',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Tích điểm đổi quà',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Câu hỏi thường gặp',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
        ul.f-customer__block
          p.f-customer__title Chính sách ưu đãi
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Chính sách giao hàng',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Chính sách đổi trả sản phẩm',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Chính sách bảo hành',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Giới thiệu sản phẩm mới',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Chính sách trả góp',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
        ul.f-customer__block
          p.f-customer__title Tin tức
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Tin mới',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Khuyến mại',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Tuyển dụng',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Download',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
          li.f-customer__item
            +buttons-link({
              href: '#',
              text: 'Tags',
              btnClass: 'f-customer__btn',
              iconClass: 'f-customer__icon',
              iconFont: 'fas fa-chevron-right',
              iconSize: 'xs',
              iconColor: 'gray-light',
            })
  .footer-bottom.d-none.d-md-block
    .footer-bottom__content
      ul.footer-bottom__question.f-question
        li.f-question__item
          +buttons-link({
            href: '#',
            text: 'Sitemap',
            btnClass: 'f-question__btn',
          })
        li.f-question__item
          +buttons-link({
            href: '#',
            text: 'Danh mục sản phẩm',
            btnClass: 'f-question__btn',
          })
        li.f-question__item
          +buttons-link({
            href: '#',
            text: 'Hợp tác',
            btnClass: 'f-question__btn',
          })
        li.f-question__item
          +buttons-link({
            href: '#',
            text: 'Thông tin liên hệ',
            btnClass: 'f-question__btn',
          })
        li.f-question__item
          +buttons-link({
            href: '#',
            text: 'Câu hỏi thường gặp',
            btnClass: 'f-question__btn',
          })
      ul.footer-bottom__bank.f-bank.ml-auto
        li.f-bank__item
          +buttons-link({
            href: '#',
            btnClass: 'f-bank__btn',
            iconClass: 'f-bank__icon',
            iconFont: 'fab fa-cc-visa',
            iconSize: 'lg',
            iconColor: 'gray-light'
          })
        li.f-bank__item
          +buttons-link({
            href: '#',
            btnClass: 'f-bank__btn',
            iconClass: 'f-bank__icon',
            iconFont: 'fab fa-cc-mastercard',
            iconSize: 'lg',
            iconColor: 'gray-light'
          })
        li.f-bank__item
          +buttons-link({
            href: '#',
            btnClass: 'f-bank__btn',
            iconClass: 'f-bank__icon',
            iconFont: 'fab fa-cc-paypal',
            iconSize: 'lg',
            iconColor: 'gray-light'
          })
        li.f-bank__item
          +buttons-link({
            href: '#',
            btnClass: 'f-bank__btn',
            iconClass: 'f-bank__icon',
            iconFont: 'fab fa-cc-discover',
            iconSize: 'lg',
            iconColor: 'gray-light'
          })
  .footer__copyright
    p.text-center Thiết kế bởi Bizweb &copy;
