header
  .header-top.d-none.d-md-block
    .header-top__content
      .header-top__open-time.open-time
        +icons({
          iconFont: 'far fa-clock',
          iconSize: 'sm',
          iconColor: 'gray'})
        p.open-time__text Open time: 8:00 - 18:00
          span.open-time__span Monday - Sunday
      ul.header-top__social.social
        li.social__item
          +buttons-link({
            href: '#',
            btnClass: 'social__btn',
            iconFont: 'fab fa-facebook-f',
            iconSize: 'sm',
            iconColor: 'gray'})
        li.social__item
          +buttons-link({
            href: '#',
            btnClass: 'social__btn',
            iconFont: 'fab fa-twitter',
            iconSize: 'sm',
            iconColor: 'gray'})
        li.social__item
          +buttons-link({
            href: '#',
            btnClass: 'social__btn',
            iconFont: 'fab fa-tumblr',
            iconSize: 'sm',
            iconColor: 'gray'})
        li.social__item
          +buttons-link({
            href: '#',
            btnClass: 'social__btn',
            iconFont: 'fab fa-vimeo-v',
            iconSize: 'sm',
            iconColor: 'gray'})
      ul.header-top__account.account.ml-auto
        li.account__item 
          +buttons-link({
            href: '#',
            text: 'Đăng nhập',
            btnClass: 'account__btn',
            iconClass: 'account__icon',
            iconFont: 'fas fa-user',
            iconSize: 'sm', 
            iconColor: 'gray' 
          })
        li.account__item 
          +buttons-link({
            href: '#',
            text: 'Đăng ký',
            btnClass: 'account__btn',
            iconClass: 'account__icon',
            iconFont: 'fas fa-user-plus',
            iconSize: 'sm',
            iconColor: 'gray',
          })
  .header-middle
    .header-middle__content
      .header-middle__logo.logo
        a.logo__wrapper(href="#")
          img.logo__image(src="../images/logo.png", alt="Logo")
      form.header-middle__search.search.ml-auto.d-none.d-md-flex
        .search__contact
          +icons({
            iconFont: 'fas fa-phone',
            iconSize: 'sm',
            iconColor: 'gray'})
          p.search__phone HỖ TRỢ: (04) 6674 2332 - (04) 3786 8904
        .search__wrapper
          input.search__input(placeholder="Tìm kiếm...")
          +buttons-link({
            btnClass: 'search__btn',
            iconFont: 'fas fa-search',
            iconSize: 'sm',
            iconColor: 'black'})
      .header-middle__cart.cart.d-none.d-md-flex
        +icons({
          iconFont: 'fas fa-shopping-basket',
          iconSize: 'lg',
          iconColor: 'black'})
        a.cart__text(href='#') 0 sản phẩm
  .header-bottom
    .header-bottom__content
      nav.header-bottom__navbar.navbar
        .navbar__menu.menu
          +buttons({
            btnClass: 'menu__btn',
            iconFont: 'fas fa-bars',
            iconSize: 'lg',
            iconColor: 'white'})
        .menu__overlay
        .menu__content.m-content
          ul.m-content__list.list-group
            li.m-content__item.list-group-item.list-group-item-action Trang chủ
            li.m-content__item.list-group-item.list-group-item-action Giới thiệu
            li.m-content__item.list-group-item.list-group-item-action(data-toggle="collapse" href="#collapseExample") Sản phẩm 
              +icons({
                iconFont: 'fas fa-caret-down'
              })
              ul.list-group(class="collapse" id="collapseExample")
                li.list-group-item.list-group-item-action Sản phẩm 1
                li.list-group-item.list-group-item-action Sản phẩm 2
                li.list-group-item.list-group-item-action Sản phẩm 3
            li.m-content__item.list-group-item.list-group-item-action(data-toggle="collapse" href="#collapseExample2") Sản phẩm mới 
              +icons({
                iconFont: 'fas fa-caret-down'
              })
              ul.list-group(class="collapse" id="collapseExample2")
                li.list-group-item.list-group-item-action Sản phẩm 1
                li.list-group-item.list-group-item-action Sản phẩm 2
                li.list-group-item.list-group-item-action Sản phẩm 3
            li.m-content__item.list-group-item.list-group-item-action Tin tức
            li.m-content__item.list-group-item.list-group-item-action Liên hệ
        ul.navbar__nav.nav.mr-auto.d-none.d-md-flex
          li.nav__item
            +buttons-link({
              href: '#',
              btnClass: 'nav__btn',
              text: 'Trang chủ'})
          li.nav__item
            +buttons-link({
              href: '#',
              btnClass: 'nav__btn',
              text: 'Giới thiệu'})
          li.nav__item.nav-item.dropdown
            a.nav__btn.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Sản phẩm
            .dropdown-menu.dropdown__menu(aria-labelledby="navbarDropdown")
              +buttons-link({
                href: '#',
                btnClass: 'dropdown__item',
                text: 'Sản phảm nổi bật'})
              +buttons-link({
                href: '#',
                btnClass: 'dropdown__item',
                text: 'Sản phảm mua nhiều'})
              +buttons-link({
                href: '#',
                btnClass: 'dropdown__item',
                text: 'Sản phảm khuyến mãi'})
              +buttons-link({
                href: '#',
                btnClass: 'dropdown__item',
                text: 'Sản phảm mới'})
          li.nav__item.nav-item.dropdown
            a.nav__btn.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Sản phẩm mới
            .dropdown-menu.dropdown__menu(aria-labelledby="navbarDropdown")
              +buttons-link({
                href: '#',
                btnClass: 'dropdown__item',
                text: 'Sản phảm mới 1'})
              +buttons-link({
                href: '#',
                btnClass: 'dropdown__item',
                text: 'Sản phảm mới 2'})
              +buttons-link({
                href: '#',
                btnClass: 'dropdown__item',
                text: 'Sản phảm mới 3'})
          li.nav__item
            +buttons-link({
              href: '#',
              btnClass: 'nav__btn',
              text: 'Tin tức'})
          li.nav__item
            +buttons-link({
              href: '#',
              btnClass: 'nav__btn',
              text: 'Liên hệ'})
        .header-bottom__expand.expand
          +buttons({
            btnClass: 'expand__search d-flex d-md-none ml-auto',
            iconFont: 'fas fa-search',
            iconSize: 'lg',
            iconColor: 'white'})
          +buttons({
            btnClass: 'expand__cart d-flex d-md-none',
            iconFont: 'fas fa-shopping-basket',
            iconSize: 'lg',
            iconColor: 'white'})
      form.header-bottom__expand-search.expand-search
        input.expand-search__input(placeholder="Tìm kiếm...")
        +buttons-link({
          btnClass: 'expand-search__btn',
          iconFont: 'fas fa-times',
          iconSize: 'sm',
          iconColor: 'black'})
