+title("Danh mục sản phẩm")
+lists(
  ["Cây chậu treo ( 10 )",
  "Cây có hoa ( 5 )",
  "Cây dây leo",
  "Cây để bàn",
  "Cây may mắn",
  "Cây trang tri",
  "Cây nội thất"],
  [""],
  2)
+title("Tin tức nổi bật")
+lists-image(
["Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách", "Những sai lầm nên tránh khi bố trí cây xanh trong nhà", "7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng","Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng","4 loại cây cảnh thích hợp bày trí ở khu vực đại sảnh"],
[""],
["new05", "side-new01", "side-new02", "new01", "side-new03"])
+title("Blog tag")
+lists-tag(
["Cây văn phòng", "Cây phát lộc", "Cây xanh", "Cây trang trí", "Cây", "Plants", "Sức khỏe", "Quà tặng", "Lưu niệm"],
[""],
1)
