// ======================================================
// Abstracts :: Variables
// ======================================================

// Colors
// Modifier variables of Boostrap 4
// Detail: https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults

$white: #fff;
$black: #202020;
$black-light: #313131;
$black-lighter: #434343;
$green: #3fb871;
$red: #d64146;
$yellow: #febf01;
$gray: #898989;
$gray-dark: #7d7d7d;
$gray-light: #c2c2c2;
$del: #959595;
$border: #e1e1e1;

// Fonts
$font-family-base: 'Arial', 'sans-serif';
$font-size-xs: 10px;
$font-size-base: 12px;
$font-size-sm: 14px;
$font-size-md: 15px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$icon-size-xs: 10px;
$icon-size-sm: 12px;
$icon-size-md: 16px;
$icon-size-lg: 20px;
// $font-family-base: 'Hiragino Sans', 'Noto Sans Japanese', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
// $font-size-base: 14px;

// Paths
$path-image: '../images';
$path-fonts: '../fonts';
