// ======================================================
// Abstracts :: Variables
// ======================================================

// Colors
// Modifier variables of Boostrap 4
// Detail: https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
$white: #fff;
$black: #000;

// Fonts
$font-family-base: 'Hiragino Sans', 'Noto Sans Japanese', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
$font-size-base: 14px;

// Paths
$path-image: '../images';
$path-fonts: '../fonts';
