extends layout/_default

block head
  +head('Green Shop | Trang chủ')

block body
  block header
    include layout/_header
  block main
    .main
      .feature-slider
        - for(i = 0; i < 3; i++)
          .feature-slider__image
            img.img-fluid(src="../images/slide.png", alt="")
      .feature-product
        +title('Sản phẩm nổi bật')
        .feature-product__spotlight.row.no-gutters
          .feature-product__grid.feature-product__grid--spotlight.col
            +products({
              image: 'sp04.png',
              name: 'Cây chân chim',
              oldPrice: '250.000',
              newPrice: '250.000',
              isNew: true,
              size: 'big',
            })
            +products({
              image: 'sp11.png',
              name: 'Cây cọ ta',
              oldPrice: '150.000',
              newPrice: '250.000',
            })
            +products({
              image: 'sp06.png',
              name: 'Cây dứa nhỏ',
              oldPrice: '370.000',
              newPrice: '250.000',
              isNew: true,
            })
          .feature-product__grid.feature-product__grid--spotlight.col
            +products({
              image: 'sp05.png',
              name: 'Cây Dạ Lam',
              oldPrice: '250.000',
              newPrice: '250.000',
              sale: '50'
            })
            +products({
              image: 'sp15.png',
              name: 'Cây Danh dự',
              oldPrice: '850.000',
              newPrice: '250.000',
              isNew: true 
            })
            +products({
              image: 'sp03.png',
              name: 'Cây đa búp đỏ',
              oldPrice: '1000.000',
              newPrice: '250.000',
              sale: '50',
              size: 'big',
              custom: 'd-none d-md-flex'
            })
        .feature-product__wrapper.row
          .col-12.col-md-3.feature-product__best
            +title('Sản phẩm mua nhiều')
            .feature-product__grid.feature-product__grid--best
              +products({
                image: 'sp15.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '250.000',
                size: 'small'
              })
              +products({
                image: 'sp12.png',
                name: 'Cây dứa nhỏ',
                oldPrice: '850.000',
                newPrice: '250.000',
                size: 'small'
              })
              +products({
                image: 'sp11.png',
                name: 'Cây Dạ Lam',
                oldPrice: '250.000',
                newPrice: '250.000',
                size: 'small'
              })
              +products({
                image: 'sp02.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '850.000',
                size: 'small' 
              })
              +products({
                image: 'sp08.png',
                name: 'Cây Dạ Lam',
                oldPrice: '250.000',
                newPrice: '780.000',
                size: 'small'
              })
              +products({
                image: 'sp06.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '580.000',
                size: 'small'
              })
          .feature-product__discount.col-12.col-md-9
            +title('Sản phẩm khuyến mãi')
            .feature-product__slider
              .feature-product__grid.feature-product__grid--discount
                +products({
                  image: 'sp15.png',
                  name: 'Cây Danh dự',
                  oldPrice: '250.000',
                  newPrice: '250.000',
                  sale: '50'
                })
                +products({
                  image: 'sp12.png',
                  name: 'Cây dứa nhỏ',
                  oldPrice: '850.000',
                  newPrice: '250.000',
                  sale: '15'
                })
                +products({
                  image: 'sp11.png',
                  name: 'Cây Dạ Lam',
                  oldPrice: '250.000',
                  newPrice: '250.000',
                  sale: '50'
                })
                +products({
                  image: 'sp02.png',
                  name: 'Cây Danh dự',
                  oldPrice: '250.000',
                  newPrice: '850.000',
                  sale: '33' 
                })
                +products({
                  image: 'sp08.png',
                  name: 'Cây Dạ Lam',
                  oldPrice: '250.000',
                  newPrice: '780.000',
                  sale: '50'
                })
                +products({
                  image: 'sp06.png',
                  name: 'Cây Danh dự',
                  oldPrice: '250.000',
                  newPrice: '580.000',
                  sale: '45' 
                })
              .feature-product__grid.feature-product__grid--discount
                +products({
                  image: 'sp15.png',
                  name: 'Cây Danh dự',
                  oldPrice: '250.000',
                  newPrice: '250.000',
                  sale: '50'
                })
                +products({
                  image: 'sp12.png',
                  name: 'Cây dứa nhỏ',
                  oldPrice: '850.000',
                  newPrice: '250.000',
                  sale: '15'
                })
                +products({
                  image: 'sp11.png',
                  name: 'Cây Dạ Lam',
                  oldPrice: '250.000',
                  newPrice: '250.000',
                  sale: '50'
                })
                +products({
                  image: 'sp02.png',
                  name: 'Cây Danh dự',
                  oldPrice: '250.000',
                  newPrice: '850.000',
                  sale: '33' 
                })
                +products({
                  image: 'sp08.png',
                  name: 'Cây Dạ Lam',
                  oldPrice: '250.000',
                  newPrice: '780.000',
                  sale: '50'
                })
                +products({
                  image: 'sp06.png',
                  name: 'Cây Danh dự',
                  oldPrice: '250.000',
                  newPrice: '580.000',
                  sale: '45' 
                })
        a.feature-banner(href='#')
          img.banner__image(src="../images/banner.png", alt="")
        .feature-product__hot
          +title('Sản phẩm mới')
          .feature-product__slider
            .feature-product__grid.feature-product__grid--hot
              +products({
                image: 'sp15.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '250.000',
              })
              +products({
                image: 'sp12.png',
                name: 'Cây dứa nhỏ',
                oldPrice: '850.000',
                newPrice: '250.000',
                isNew: true 
              })
              +products({
                image: 'sp11.png',
                name: 'Cây Dạ Lam',
                oldPrice: '250.000',
                newPrice: '250.000',
              })
              +products({
                image: 'sp02.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '850.000',
              })
              +products({
                image: 'sp08.png',
                name: 'Cây Dạ Lam',
                oldPrice: '250.000',
                newPrice: '780.000',
              })
              +products({
                image: 'sp06.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '580.000',
              })
              +products({
                image: 'sp08.png',
                name: 'Cây Dạ Lam',
                oldPrice: '250.000',
                newPrice: '780.000',
              })
              +products({
                image: 'sp06.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '580.000',
              })
            .feature-product__grid.feature-product__grid--hot
              +products({
                image: 'sp15.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '250.000',
              })
              +products({
                image: 'sp12.png',
                name: 'Cây dứa nhỏ',
                oldPrice: '850.000',
                newPrice: '250.000',
                isNew: true 
              })
              +products({
                image: 'sp11.png',
                name: 'Cây Dạ Lam',
                oldPrice: '250.000',
                newPrice: '250.000',
              })
              +products({
                image: 'sp02.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '850.000',
              })
              +products({
                image: 'sp08.png',
                name: 'Cây Dạ Lam',
                oldPrice: '250.000',
                newPrice: '780.000',
              })
              +products({
                image: 'sp06.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '580.000',
              })
              +products({
                image: 'sp08.png',
                name: 'Cây Dạ Lam',
                oldPrice: '250.000',
                newPrice: '780.000',
              })
              +products({
                image: 'sp06.png',
                name: 'Cây Danh dự',
                oldPrice: '250.000',
                newPrice: '580.000',
              })
      .feature-news
        +title('Tin tức')
        .feature-news__grid
          +news({
            image: 'new01.png',
            day: 'Thứ 7 ,ngày 31, tháng 12, năm 2015',
            title: '15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê',
            description: 'Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào'
          })
          +news({
            image: 'new02.png',
            day: 'Thứ 7 ,ngày 31, tháng 12, năm 2015',
            title: '15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê',
            description: 'Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào'
          })
          +news({
            image: 'new03.png',
            day: 'Thứ 7 ,ngày 31, tháng 12, năm 2015',
            title: '15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê',
            description: 'Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào'
          })
  block footer
    include layout/_footer
