// ======================================================
// Layout :: Header
// ======================================================

.header-top {
  width: 100%;
  background: $black;

  &__content {
    @extend %wrapper;

    height: 34px;
    flex-flow: row nowrap;
    align-items: stretch;
  }
}

.open-time {
  display: flex;
  align-items: center;

  &__text {
    color: $gray;
    display: inline-block;
    margin: 0 30px 0 5px;
  }

  &__span {
    margin-left: 10px;
  }
}

.social {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;

  &__item {
    border-left: 1px solid rgba($gray, .2);
    height: 100%;

    &:last-child {
      border-right: 1px solid rgba($gray, .2);
    }
  }

  &__btn {
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    color: $gray;
    border-radius: 0;

    &:hover {
      background: rgba(255, 255, 255, .1);
    }
  }
}

.account {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;

  &__item {
    border-left: 1px solid rgba($gray, .2);
    display: flex;
    flex-flow: row nowrap;
    height: 100%;

    &:last-child {
      border-right: 1px solid rgba($gray, .2);
    }
  }

  &__btn {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: $gray;
    font-size: $font-size-base;

    &:hover {
      background: rgba(255, 255, 255, .1);
      color: $gray;
    }
  }

  &__icon {
    margin-right: 5px;
  }
}

.header-middle {
  background: url(#{$path-image}/background.png);

  &__content {
    @extend %wrapper;
  }
}

.logo {
  display: flex;
  padding-right: 10px;

  &__wrapper {
    display: block;
  }

  &__image {
    align-self: center;
    width: 100%;
    max-width: 450px;
  }

  @include respond-to(phone-and-down) {
    margin: auto;
  }
}

.search {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;

  &__contact {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 25px;
  }

  &__phone {
    color: $gray-dark;
    margin-left: 5px;
    font-size: $font-size-sm;
    white-space: nowrap;
  }

  &__wrapper {
    height: 42px;
    width: 406px;
    border-radius: 21px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    background: $white;
    border: 1px solid rgba($black, .5);

    @include respond-to(tablet-and-down) {
      width: auto;
    }
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 25px;

    &::placeholder {
      color: $gray-light;
    }
  }

  &__btn {
    width: 42px;
    height: 42px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:before {
      @include pseudo;

      top: 10%;
      left: 0;
      width: 1px;
      height: 80%;
      background: rgba($gray-light, .8);
    }
  }
}

.cart {
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-top: 25px;

  &__text {
    margin-bottom: 0;
    margin-left: 15px;
    font-size: $font-size-md;
    color: $black;
    white-space: nowrap;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  @include respond-to(tablet-and-down) {
    padding-left: 10px;
  }
}

.header-bottom {
  position: relative;
  background: $green;

  &__content {
    @extend %wrapper;

    @include respond-to(phone-and-down) {
      padding: 15px;
    }
  }
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 0;
  width: 100%;

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }
}

.nav {

  &__item {
    font-size: $font-size-sm;
    display: flex;
    align-items: center;
    transition: all .3s ease;

    &:hover {
      background: rgba(0, 0, 0, .2);
    }
  }

  &__btn {
    color: $white;
    padding: 15px;
    transition: all .3s ease;

    &:hover {
      color: $white;
      text-decoration: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.dropdown {

  &__menu {
    background: $green;
  }

  &__item {
    color: $white;
    font-size: $font-size-base;
    width: 100%;
    text-align: left;

    &:hover {
      color: $white;
      background: rgba(0, 0, 0, .2);
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 35px;

  &__btn {
    padding: 0;
    display: flex;
    align-items: center;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: -1;
    transition: all .3s ease;
    opacity: 0;
    &.active {
      opacity: 1;
      z-index: 1000;
    }
  }

  &__content {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: $green;
    transition: all .3s ease;
    z-index: 1000;
    &.active {
      left: 0;
    }
  }
}

.m-content {
  &__list {
    width: 100%;
    background: transparent;
  }
  &__item {
    width: 100%;
  }
}

.expand {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  &__search {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &__cart {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 15px;
  }
}

.expand-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  text-align: stretch;
  background: $white;

  &__input {
    border: none;
    outline: none;
    flex: 1;
    padding-left: 10px;

    &::placeholder {
      color: $gray;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
