// ======================================================
// Layout :: Prodct Side Bar
// ======================================================

.product-list__sidebar {
  width: 100%;

  .title {
    margin-bottom: 15px;
  }

  &__color-list {
    display: grid;
  }
}
