.comment {
  width: 100%;
  display: flex;
  padding-top: 40px;
  flex-flow: row nowrap;
  border-bottom: 1px solid rgba($gray, .3);

  &__avatar-wrapper {
    width: 80px;
    height: 80px;
    margin-right: 30px;
  }

  &__content {
    flex: 1;
    position: relative;
    padding-bottom: 40px;
  }

  &__user {
    font-size: $font-size-sm;
    color: $black-lighter;
    margin-bottom: 18px;
  }

  &__text {
    font-size: $font-size-base;
    color: $gray;
    margin-bottom: 10px;
  }

  &__date {
    font-style: italic;
    color: $gray;
    font-size: $font-size-base;
    font-family: $font-family-second;
  }

  &__reply {
    @include pseudo;

    top: 0;
    right: 0;
    text-decoration: underline;
    color: $black-lighter;
    font-style: italic;
    font-family: $font-family-second;
    cursor: pointer;
  }

  &--parent {
    border-bottom: 1px solid rgba($gray, 0);

    .comment__content {
      border-bottom: 1px solid rgba($gray, .3);
    }
  }

  &--children {
    padding-left: 110px;
  }

  @include respond-to(smallphone-and-down) {
    &__avatar-wrapper {
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }

    &--children {
      padding-left: 0;
    }
  }
}
