.sidebar-list {
  margin-bottom: 40px;
  &--default {
    width: 100%;
  }

  &--color {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__icon {
    margin-right: 5px;
    transition: all .3s ease;
  }

  &__link {
    color: $gray;
    padding: 10px 0;
    display: block;
    transition: all .3s ease;

    &:hover {
      text-decoration: none;
      color: $green;

      .sidebar-list__icon {
        color: $green;
      }
    }
  }

  &__item {
    border-bottom: 1px solid rgba($gray, .15);
  }

  &__item.active {
    .sidebar-list__link {
      color: $green;
    }
    .sidebar-list__icon {
      color: $green;
    }
  }
}

.color-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 25px;
  }

  &__text {
    color: $gray;
    transition: all .3s ease;
  }

  &__color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;

    &--green {
      background: $green;
    }

    &--orangered {
      background: $orangered;
    }
    &--purple {
      background: $purple;
    }
    &--blue {
      background: $blue;
    }
    &--yellow {
      background: $yellow;
    }
    &--pink {
      background: $pink;
    }
  }
}

.color-list__item:hover {
  text-decoration: none;

  .color-list__text {
    color: $green;
  }
}
