// ======================================================
// Component :: New
// ======================================================

.new {
  display: flex;
  flex-flow: column nowrap;
  font-family: Roboto, sans-serif;

  &__image-wrapper {
    height: 200px;
    margin-bottom: 20px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__date {
    font-style: italic;
    font-size: $font-size-base;
    color: $gray-light;
    margin-bottom: 20px;
  }

  &__title {
    color: $green;
    font-weight: $bold;
    font-size: $font-size-sm;
    margin-bottom: 15px;

    &:hover {
      color: $green;
    }
  }

  &__description {
    font-size: $font-size-base-small;
    color: $gray;
    margin-bottom: 20px;
  }

  &__readmore {
    color: $green;
    font-style: italic;
    font-size: $font-size-base;
    align-self: flex-start;

    &:hover {
      color: $green;
    }
  }
}

.post-item {
  margin-bottom: 50px;

  &__name {
    color: $black;
    font-size: $font-size-xl;
    margin-bottom: 10px;
    display: block;
    transition: all .3s ease;

    &:hover {
      color: $green;
      text-decoration: none;
    }
  }

  &__info {
    display: flex;
    flex-flow: row nowrap;
    color: $gray-light;
    margin-bottom: 20px;
  }

  &__icon {
    color: $green;
    font-size: $icon-size-sm;
    margin-right: 10px;
  }

  &__image-wrapper {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    height: 380px;
  }

  &__description {
    color: $gray;
  }

  &__date {
    margin-right: 15px;
    font-size: $font-size-sm;
  }

  &__time {
    margin-right: 15px;
    font-size: $font-size-sm;
  }

  &__comment {
    margin-right: 15px;
    font-size: $font-size-sm;
  }
}
