.product {
  &__item {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid rgba($border, .9);
  }

  &__item--big {
    grid-column: 1 / -1;
    border: 1px solid rgba($border, .9);
  }

  &__image-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
  }

  &__overlay {
    @include pseudo;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    transform-origin: center;
    opacity: 0;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__image {
    transition: all .3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__new {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: $green;
  }

  &__sale {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: $red;
  }

  &__name {
    font-size: $font-size-lg;
    color: $black;
    transition: all .3s ease;
    &:hover {
      color: $green;
      text-decoration: none;
    }
  }

  &__star {
    margin: 5px 0;
    color: $yellow;
  }

  &__price {
    color: $red;
    font-size: $font-size-xl;
    font-family: 'Roboto Slab', sans-serif;
    margin-bottom: 20px;
  }

  &__del {
    color: $gray;
    margin-left: 15px;
    font-size: $font-size-sm;
    text-decoration: line-through;
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__buy {
    font-size: $font-size-sm;
    color: $white;
    height: 40px;
    border-radius: 20px;
    background: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    padding: 0 20px;
    &:hover {
      background: transparent;
      border: 1px solid $green;
      color: $green;
    }
  }

  &__search {
    font-size: $font-size-base;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include respond-to(phone-and-down) {
    &__price {
      font-size: $font-size-sm;
    }

    &__del {
      display: block;
      margin: auto;
    }
  }
}

.product__image-wrapper:hover {
  .product__image {
    transform: scale(1.2);
  }
}

.product__item .product__image-wrapper {
  height: 220px;

  @include respond-to(phone-and-down) {
    height: 200px;
  }

  @include respond-to(smallphone-and-down) {
    height: 300px;
  }
}

.product__item--big .product__image-wrapper {
  height: 480px;

  @include respond-to(phone-and-down) {
    height: 400px;
  }

  @include respond-to(smallphone-and-down) {
    height: 300px;
  }
}

.product__item--small {
  padding: 18.3px;
  flex-flow: row nowrap;
  min-width: 100px;

  .product__image-wrapper {
    width: 80px;
    height: 80px;
    margin-bottom: 0;
  }

  .product__name {
    font-size: $font-size-sm;
    text-align: left;
  }

  .product__price {
    font-size: $font-size-sm;
    margin-bottom: 0;
  }

  .product__del {
    display: none;
  }

  .product__overlay {
    display: none;
  }

  .product__info {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-items: flex-start;
    padding-left: 15px;
  }

  @include respond-to(desktop-and-down) {
    padding: 15px;
  }

  @include respond-to(tablet-and-down) {
    padding: 2px;
    margin-bottom: 2px;

    .product__image-wrapper {
      width: 70px;
      height: 70px;
    }

    .product__name {
      font-size: $font-size-base;
    }

    .product__price {
      font-size: $font-size-base;
    }

    .product__star {
      margin: 0;
    }
  }
}
