.title {
  border-bottom: 1px solid rgba($gray, .3);
  margin-bottom: 40px;
  width: 100%;

  &__text {
    display: inline-block;
    color: $green;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 600;

    &:before {
      @include pseudo;

      width: 100%;
      height: 2px;
      top: 100%;
      left: 0;
      background: $green;
    }
  }
}
