// ======================================================
// Base :: Global
// ======================================================

body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  background: $body-color;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

%wrapper {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  display: flex;

  @include respond-to(desktop-and-down) {
    padding: 0 15px;
  }
}

.main {
  width: 100%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  backface-visibility: hidden;
}

.btn-primary {
  text-transform: uppercase;
  transition: all .2s ease;
  border-radius: 20px;
  height: 40px;
  max-width: 200px;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: $font-size-base;

  &:hover {
    border: 1px solid transparent;
  }

  &--green {
    background: $green;
    color: $white;

    &:hover {
      background: $white;
      color: $green;
      border: 1px solid rgba($green, .3);
    }
  }

  &--white {
    background: $white;
    color: $green;
    border: 1px solid rgba($green, .3);

    &:hover {
      background: $green;
      color: $white;
    }
  }
}
