mixin breadcrumb(names, hrefs)
  ol.breadcrumb
    each name, index in names
      if (index == names.length - 1)
        
        li.breadcrumb-item.breadcrumb__item.active #{name}
      
      else
        
        li.breadcrumb-item.breadcrumb__item
          a.breadcrumb__link(href= `${hrefs[index]}.html` ? `${hrefs[index]}.html` : '#') #{name} 
